.finish-game {
  background: linear-gradient(to bottom right, white 50%, #fff3eb 50%);
  max-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.finish-game__content {
  padding: 250px 0 340px;
  margin-left: 20px;
}
.finish-game__title {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 116%;
  color: #1c1c21;
  max-width: 625px;
}

.finish-game__btn {
  background: #ff8b37;
  border-radius: 12px;
  border: navajowhite;
  font-weight: 600;
  font-size: 20px;
  line-height: 116%;
  color: #fff;
  padding: 20px 0;
  width: 390px;
}

@media (max-width: 1050px) {
  .finish-game__content {
    padding: 0;
    text-align: center;
    margin: 0;
  }
  .finish-game__img {
    width: 420px;
  }
  .finish-game__title {
    font-size: 45px;
  }
  .finish-game__btn {
    margin: 100px 0 50px;
    width: 290px;
  }
}

@media (max-width: 720px) {
  .finish-game {
    flex-direction: column;
  }
  .finish-game__img {
    margin-top: 100px;
    width: 280px;
  }
  .finish-game__title {
    font-size: 32px;
  }
}
